<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Campus Traffic</display-name>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>map.do</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/CampusTrafficDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>LogonForm</display-name>
    <servlet-name>LogonForm</servlet-name>
    <servlet-class>com.campustraffic.web.forms.LogonForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogonForm</servlet-name>
    <url-pattern>/logonForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminParkingLotAction</display-name>
    <servlet-name>AdminParkingLotAction</servlet-name>
    <servlet-class>com.campustraffic.web.actions.AdminParkingLotAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminParkingLotAction</servlet-name>
    <url-pattern>/adminParkingLots</url-pattern>
  </servlet-mapping>
</web-app>